{%extends "AxonMedicineWhiteKoatBundle:Default:base.html.twig"%}

{%block stylesheets %}

<style type="text/css">
    .main {
        width: 800px;
        padding: 10px 30px 30px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }

</style>

{%endblock%}

{%block container %}

<script>

    function libraryDropDownChanged() {

        alert('library changed');

        /**        $.post('{path('AcmeHomeBundle_ajax_update_mydata')}',
         {data1: 'mydata1', data2: 'mydata2'},
         function(response) {
         if (response.code == 100 && response.success) {//dummy check
         //do something
         }
         
         }, "json");
         */
    }
    $(document).ready(function() {
        $('druglib').on('change', function() {
            alert('asdlfk');
            // libraryDropDownChanged();
        });
    });

</script>



<div class="main">
    <table width="800px">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <a href="{{path('home_route')}}" style="disabled">Library Setup</a> |  
                        </td>
                        <td><a href="">Card Setup</a> |
                        </td>  
                        <td><a href="">Help</a>
                        </td>
                    </tr>
                </table>
            </td>
            <td align="right">
                Welcome {{name}}
            </td>
        </tr>
    </table>
    <table width="800px">
        <tr align="right">
            <td style="padding-right:15px">
                <img src="{{ asset('bundles/axonmedicinewhitekoat/images/linux-penguin.jpg') }}" width="40px" alt="img" />
                </div>

            </td>
        </tr>
    </table>

    <form method ="POST" action="{{path('home_route')}}" data-validate="parsley">
        <input type="text" id="someText" name="someText" value="asdlfkj" />
        <div style="padding-bottom:10px">
            <select id="druglib" name="druglib">
                <option value="0" selected>-- Select a Library --</option>
            {%for type in types%}
                <option value="{{ type.id }}">{{ type.name }}</option>
             {%endfor%}

            </select> 
        </div>

    {%block libcontent %}
    {%endblock%}

        <div style="display: {%if not librarySelected %}none{% endif %}">
            <a href="{{path('home_route')}}">Add</a>
        </div>

    </form>


    {%block tablecontent %}
    {%endblock%}

</div>



{%endblock%}
