{%extends "AxonMedicineWhiteKoatBundle:Default:student.drug.disease.without.menu.html.twig"%}

{%block libcontent %}

<div id="someclass">
    <fieldset id="drugrelationships">
        <legend>Drug Characteristics</legend>

        <div style="padding-bottom:15px">
            <table>
                <tr>
                    <td><label class="mainlabel">Drug Name: </label></td>
                    <td><label class="cardvalue">{{druginfo.generic}}</label></td>
                </tr>
                <tr>
                    <td><label class="mainlabel">Brand Names: </label></td>
                    <td><label class="cardvalue">{{druginfo.brands}}</label></td>
                </tr>
            </table>
        </div>

    </fieldset>

    <fieldset id="drugrelationships">
        <legend>Drug Relationships</legend>

        <div style="padding-bottom:15px">
            <table>
                <tr>
                    <td> 
                        <div class="panel-group" id="accordion1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
                                            <label class="info_other">Classes</label>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <label class="cardvalue">{{druginfo.classes}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr><td> <div class="panel-group" id="accordion2"><div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
                                            <label class="info_other">Targets</label>
                                        </a></h4></div><div id="collapse2" class="panel-collapse collapse"><div class="panel-body">
                                        <label class="cardvalue">{{druginfo.targets}}</label>
                                    </div></div></div></div></td></tr>

                <tr><td> <div class="panel-group" id="accordion3"><div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse3">
                                            <label class="info_other">Txs</label>
                                        </a></h4></div><div id="collapse3" class="panel-collapse collapse"><div class="panel-body">
                                        <label class="cardvalue">{{druginfo.treatments|raw}}</label>
                                    </div></div></div></div></td></tr>


                <tr><td> <div class="panel-group" id="accordion4"><div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse4">
                                            <label class="info_other">Mechanism</label>
                                        </a></h4></div><div id="collapse4" class="panel-collapse collapse"><div class="panel-body">
                                        <label class="cardvalue">{{druginfo.mechanism}}</label>
                                    </div></div></div></div></td></tr>

                <tr><td> <div class="panel-group" id="accordion5"><div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse5">
                                            <label class="info_other">Side Effects</label>
                                        </a></h4></div><div id="collapse5" class="panel-collapse collapse"><div class="panel-body">
                                        <label class="cardvalue">{{druginfo.sideeffects}}</label>
                                    </div></div></div></div></td></tr>

                <tr><td> <div class="panel-group" id="accordion6"><div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6" href="#collapse6">
                                            <label class="info_other">Contra-indications</label>
                                        </a></h4></div><div id="collapse6" class="panel-collapse collapse"><div class="panel-body">
                                        <label class="cardvalue">{{druginfo.contrainds}}</label>
                                    </div></div></div></div></td></tr>

            </table>
        </div>
    </fieldset>

    <div style="padding-top:30px">
        <input class="btn btn-primary btn-lg" type="submit" value="Close Window" onclick="window.close();
                return true;">
    </div>
</div>
{%endblock%}

{%block tablecontent %}
{%endblock%}
