{%extends "AxonMedicineWhiteKoatBundle:Default:home.html.twig"%}

{%block libcontent %}

<div id="someclass">
    <form method="POST" action="{{path('drug_card_route_save')}}" data-validate="parsley">

        <fieldset id="drugrelationships">
            <legend>Disease Characteristics</legend>
        </fieldset>


        <div style="padding-top:30px">
            <input class="btn btn-primary btn-lg" type="submit" value="Add Disease Card">
        </div>

    </form>
</div>

<table class="table table-striped ">
    <thead>
        <tr>
            <th>Disease Name</th>
            <th>Disease Type(s)</th>
            <th>Disease Cause(s)</th>
            <th>Disease Symptom(s)</th>
            <th>Action</th>
        </tr>
    </thead>     
    <tbody>

            {%for diseasecard in diseasecards%}
        <tr >
            <td>{{diseasecard.diseasename}}</td>
            <td>{{diseasecard.diseasetype}}</td>
            <td>{{diseasecard.diseasecause}}</td>
            <td>{{diseasecard.diseasesymptom}}</td>
            <td><a href="{{path('drug_route_remove', { 'id': diseasecard.id })}}">remove</a>
        </tr>
             {%endfor%}
    </tbody>
</table>


{%endblock%}

