{%extends "AxonMedicineWhiteKoatBundle:Default:home.html.twig"%}

{%block libcontent %}

<div id="someclass">
    <form method="POST" action="{{path('drug_card_route_save')}}" data-validate="parsley">

        <fieldset id="drugrelationships">
            <legend>Drug Characteristics</legend>

            <div style="padding-bottom:15px">
                <input type="hidden" name="genericdrugnameid" id="genericdrugnameid">
                <table>
                    <tr>
                        <td><input style="width:383px" type="text" id="genericdrugname" name="genericdrugname" placeholder="Drug Name" data-trigger="change" data-required="true"></td>
                        <td valign="top"><a href="#" id="genericdrugbutton" class="btn btn-primary btn-lg">Add Generic</a></td>
                    </tr>
                </table>
            </div>
            <div style="padding-bottom:15px">
                <input type="hidden" name="branddrugnameids" id="branddrugnameids">
                <table>
                    <tr>
                        <td><select style="width:400px" size="3" id="branddrugnames" name="branddrugnames[]" multiple="multiple"></select></td>
                        <td><a href="#" id="branddrugbutton" class="btn btn-primary btn-lg">Add Brand</a></td>
                    </tr>
                </table>
            </div>

        </fieldset>

        <fieldset id="drugrelationships">
            <legend>Drug Relationships</legend>

            <div style="padding-bottom:15px">
                <input type="hidden" name="drugclassnameids" id="drugclassnameids">
                <table>
                    <tr>
                        <td><select style="width:400px" size="3" id="drugclassnames" name="drugclassnames"></td>
                        <td><a href="#" id="drugclassbutton" class="btn btn-primary btn-lg">Add Class</a></td>
                    </tr>
                </table>
            </div>
            <div style="padding-bottom:15px">
                <input type="hidden" name="drugtargetnameids" id="drugtargetnameids">
                 <table>
                    <tr>
                        <td><select style="width:400px" size="3" id="drugtargetnames" name="drugtargetnames"></td>
                        <td valign="top"><a href="#" id="drugtargetbutton" class="btn btn-primary btn-lg">Add Target</a></td>
                    </tr>
                </table>
            </div>
            <div style="padding-bottom:15px">
                <input type="hidden" name="drugtreatmentnameids" id="drugtreatmentnameids">
                <table>
                    <tr>
                        <td><select style="width:400px" size="3" id="drugtreatmentnames" name="drugtreatmentnames"></td>
                        <td valign="top"><a href="#" id="drugtreatmentbutton" class="btn btn-primary btn-lg">Add Treatment</a></td>
                    </tr>
                </table>
            </div>
            <div style="padding-bottom:15px">
                <input type="hidden" name="drugmechanismid" id="drugmechanismid">
                <table>
                    <tr>
                        <td><textarea style="width:650px" rows="2" cols="60" maxlength="255" name="drugmechanism" placeholder="Drug Mechanism" data-trigger="change"></textarea></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div style="padding-bottom:15px">
                <input type="hidden" name="drugsideeffectnameids" id="drugsideeffectnameids">
                <table>
                    <tr>
                        <td><select style="width:400px" size="3" id="drugsideeffectnames" name="drugsideeffectnames"></td>
                        <td valign="top"><a href="#" id="drugsideeffectbutton" class="btn btn-primary btn-lg">Add Side Effect</a></td>
                    </tr>
                </table>
            </div>
            <div style="padding-bottom:15px">
                <input type="hidden" name="drugcontraindnameids" id="drugcontraindnameids">
                <table>
                    <tr>
                        <td><select style="width:400px" size="3" id="drugcontraindnames" name="drugcontraindnames"></td>
                        <td valign="top"><a href="#" id="drugcontraindbutton" class="btn btn-primary btn-lg">Add Contraindication</a></td>
                    </tr>
                </table>
            </div>
        </fieldset>

        <div style="padding-top:30px">
            <input class="btn btn-primary btn-lg" type="submit" value="Add Drug Card">
        </div>

    </form>
</div>
{%endblock%}

{%block tablecontent %}
<div style="height:300px;overflow:auto;">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Generic</th>
                <th>Brand(s)</th>
                <th>Class</th>
                <th>Target</th>
                <th>Treatment</th>
                <th>Side Effect</th>
                <th>Contra-ind</th>
                <th>Action</th>
            </tr>
        </thead>     
        <tbody>

            {%for drugcard in drugcards%}
            <tr>
                <td>{{drugcard.generic}}</td>
                <td>{{drugcard.brands}}</td>
                <td>{{drugcard.classes}}</td>
                <td>{{drugcard.targets}}</td>
                <td>{{drugcard.treatments}}</td>
                <td>{{drugcard.sideeffects}}</td>
                <td>{{drugcard.contrainds}}</td>
                <td><a href="{{path('drug_route_remove', { 'id': drugcard.id, 'drugname' : drugcard.generic })}}">remove</a>
            </tr>
             {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}
