{%extends "AxonMedicineWhiteKoatBundle:Default:base.html.twig"%}

{%block stylesheets %}

<style type="text/css">
    
</style>

{%endblock%}

{%block container %}

<script language="javascript">

    $(function() {

        $(document).on('keydown', '#genericdrugdiseasename', function(e)
        {
            if (e.which == 113) { //F2
                $("#cardtype").html('Select Name');

                e.preventDefault();
                $(".modal-body").html('');
                $(".modal-body").addClass('loader');
                $.post('{{ path('drugdisease_popup_route_get') }}',
                        {generic: '1'},
                function(html) {
//                        alert('html returned: ' + html);
                    $(".modal-body").removeClass('loader');
                    $(".modal-body").html(html);
                }
                );
                $("#genericModal").modal('show');
                return true;
            }
        });


        $(document).on('keydown', '#genericdrugname', function(e)
        {
            if (e.which == 113) { //F2
                $("#cardtype").html('Select Name');

                e.preventDefault();
                $(".modal-body").html('');
                $(".modal-body").addClass('loader');
                $.post('{{ path('drug_popup_route_get') }}',
                        {generic: '1'},
                function(html) {
                    $(".modal-body").removeClass('loader');
                    $(".modal-body").html(html);
                }
                );
                $("#genericModal").modal('show');
                return true;
            }
        });

        $(document).on('keydown', '#genericdiseasename', function(e)
        {
            if (e.which == 113) { //F2
                $("#cardtype").html('Select Name');

                e.preventDefault();
                $(".modal-body").html('');
                $(".modal-body").addClass('loader');
                $.post('{{ path('disease_popup_route_get') }}',
                        function(html) {
                            $(".modal-body").removeClass('loader');
                            $(".modal-body").html(html);
                        }
                );
                $("#genericModal").modal('show');
                return true;
            }
        });


        $(document).on('click', '#drugsearchbutton', function(e)
        {
            e.preventDefault();
            $.post('{{ path('sc_drug_search') }}',
                    function(html) {
                    }
            );
        });
		



        $(document).on('click', '#genericdrugdiseasebutton', function(e)
        {
            $("#cardtype").html('Select Name');

            e.preventDefault();
            $(".modal-body").html('');
            $(".modal-body").addClass('loader');
            $.post('{{ path('drugdisease_popup_route_get') }}',
                    {generic: '1'},
            function(html) {
//                        alert('html returned: ' + html);
                $(".modal-body").removeClass('loader');
                $(".modal-body").html(html);
            }
            );
            $("#genericModal").modal('show');
        });

        $(document).on('click', '#branddrugbutton', function(e)
        {
            $("#cardtype").html('Select Name');

            e.preventDefault();
            $(".modal-body").html('');
            $(".modal-body").addClass('loader');
            $.post('{{ path('drug_popup_route_get') }}',
                    {generic: '0'},
            function(html) {
                $(".modal-body").removeClass('loader');
                $(".modal-body").html(html);
            }
            );
            $("#genericModal").modal('show');
        });



        $(document).on('click', '#drugclassbutton', function(e)
        {
            $("#cardtype").html('Select Class');

            e.preventDefault();
            $(".modal-body").html('');
            $(".modal-body").addClass('loader');
            $.post('{{ path('drug_class_popup_route_get') }}',
                    {},
                    function(html) {
//                        alert('html returned: ' + html);
                        $(".modal-body").removeClass('loader');
                        $(".modal-body").html(html);
                    }
            );
            $("#genericModal").modal('show');
        });
        $(document).on('click', '#drugtargetbutton', function(e)
        {
            $("#cardtype").html('Select Target');

            e.preventDefault();
            $(".modal-body").html('');
            $(".modal-body").addClass('loader');
            $.post('{{ path('drug_target_popup_route_get') }}',
                    {},
                    function(html) {
                        $(".modal-body").removeClass('loader');
                        $(".modal-body").html(html);
                    }
            );
            $("#genericModal").modal('show');
        });
        $(document).on('click', '#drugtreatmentbutton', function(e)
        {
            $("#cardtype").html('Select Treatment');

            e.preventDefault();
            $(".modal-body").html('');
            $(".modal-body").addClass('loader');
            $.post('{{ path('drug_treatment_popup_route_get') }}',
                    {},
                    function(html) {
//                        alert('html returned: ' + html);
                        $(".modal-body").removeClass('loader');
                        $(".modal-body").html(html);
                    }
            );
            $("#genericModal").modal('show');
        });
        $(document).on('click', '#drugsideeffectbutton', function(e)
        {
            $("#cardtype").html('Select Side Effect');

            e.preventDefault();
            $(".modal-body").html('');
            $(".modal-body").addClass('loader');
            $.post('{{ path('drug_sideeffect_popup_route_get') }}',
                    {},
                    function(html) {
                        $(".modal-body").removeClass('loader');
                        $(".modal-body").html(html);
                    }
            );
            $("#genericModal").modal('show');
        });
        $(document).on('click', '#drugcontraindbutton', function(e)
        {
            $("#cardtype").html('Select Contraindication');

            e.preventDefault();
            $(".modal-body").html('');
            $(".modal-body").addClass('loader');
            $.post('{{ path('drug_contraind_popup_route_get') }}',
                    {},
                    function(html) {
                        $(".modal-body").removeClass('loader');
                        $(".modal-body").html(html);
                    }
            );
            $("#genericModal").modal('show');
        });


    });
    function updateAndCloseModal(fieldName, fieldId, fieldPrefix, id, name)
    {
        $(fieldName).val(fieldPrefix + name);

        $(fieldId).val(id);

        $('#genericModal').modal("hide");
    }

    function updateSelectAndCloseModal(fieldName, fieldId, fieldPrefix, id, name)
    {
        // if field name doesn't already exist, add it.
        var exists = false;

        var fieldOutput = fieldPrefix + name;

        var currentVal = $(fieldId).val();

        if (currentVal !== '')
        {
            currentVal = currentVal + ':';
        }
        currentVal += id;
        $(fieldId).val(currentVal);
        $(fieldName + " option").each(function()
        {
            if (id == $(this).val())
            {
                exists = true;
                return false;
            }
        });

        if (!exists)
        {
            $(fieldName)
                    .append($('<option>' + fieldOutput + '</option>')
                            .attr('value', id));
        }


        $('#genericModal').modal("hide");
    }

    function libraryDropDownChanged() {

        alert('library changed');

        /**        $.post('{path('AcmeHomeBundle_ajax_update_mydata')}',
         {data1: 'mydata1', data2: 'mydata2'},
         function(response) {
         if (response.code == 100 && response.success) {//dummy check
         //do something
         }
         
         }, "json");
         */
    }
	$(document).ready(function() {
		var resizeCardAreaFn = function($this) {
			var newHeight = $(window).height()-150;
			$this.height(newHeight);
			console.log('new height', newHeight);
		};
		var $outerCardArea = $("#outerCardArea");
		resizeCardAreaFn($outerCardArea);
		$(window).resize(function(){resizeCardAreaFn($outerCardArea);});
	});

</script>


<div class="main">
    
	<div class="nav-bar">
		<div class="nav-tabs-nobs">
			<ul class="nav-nobs ">
				<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
				<li><a href="#about" data-toggle="tab">About</a></li>
				<li><a href="#help" data-toggle="tab">Help</a></li>
				<li><a href="{{path('logout_route')}}" data-toggle="tab">Sign Out</a></li>
			</ul>
		</div>
		<span id="WhiteKoatLogo">&nbsp;</span>
	</div>

        {%block libcontent %}
        {%endblock%}

            {% for notice in app.session.flashbag.get('notice') %}
    <div class="success_message">
            {{ notice }}
    </div>
            {% endfor %}
            {% for error in app.session.flashbag.get('error') %}
    <div class="error_message">
                {{ error }}
    </div>
            {% endfor %}

    <!-- Should be overridden -->
            {%block tablecontent %}
            {%endblock%}

           {%block modalcontent %}

    <!-- Modal -->
    <div id="genericModal" class="modal hide fade" tabindex="-1" aria-labelledby="genericPopupLabel" aria-hidden="true">
        <input type="hidden" id="modaltype" value="[modaltype]">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="genericPopupLabel"><div id="cardtype"></div></h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div><!-- /.modal -->
            {%endblock%}

	<div class="push"></div>
</div>
<div id="footer">&copy;2013-14 Axon Medicine, LLC</div>


{%endblock%}
