{%extends "AxonMedicineWhiteKoatBundle:Default:student.drug.disease.without.menu.html.twig"%}

{%block libcontent %}

<div id="someclass">
    <fieldset id="diseaserelationships">
        <legend>Disease Characteristics</legend>

        <div style="padding-bottom:15px">
            <table>
                <tr>
                    <td><label class="mainlabel">Disease Name: </label></td>
                    <td><label class="cardvalue">{{diseaseinfo.disease}}</label></td>
                </tr>
                <tr>
                    <td><label class="mainlabel">Disease Type: </label></td>
                    <td><label class="cardvalue">{{diseaseinfo.type}}</label></td>
                </tr>
            </table>
        </div>
    </fieldset>


    <fieldset id="diseaserelationships">
        <legend>Disease Relationships</legend>

        <div style="padding-bottom:15px">
            <table>
                <tr>
                    <td> 
                        <div class="panel-group" id="accordion1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
                                            <label class="info_other">Symptoms</label>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <label class="cardvalue">{{diseaseinfo.symptom}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr><td> <div class="panel-group" id="accordion2"><div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
                                            <label class="info_other">Causes</label>
                                        </a></h4></div><div id="collapse2" class="panel-collapse collapse"><div class="panel-body">
                                        <label class="cardvalue">{{diseaseinfo.cause}}</label>
                                    </div></div></div></div></td></tr>

                <tr><td> <div class="panel-group" id="accordion3"><div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse3">
                                            <label class="info_other">Txs</label>
                                        </a></h4></div><div id="collapse3" class="panel-collapse collapse"><div class="panel-body">
                                        <label class="cardvalue">{{diseaseinfo.treatment|raw}}</label>
                                    </div></div></div></div></td></tr>

            </table>
        </div>
    </fieldset>

    <div style="padding-top:30px">
        <input class="btn btn-primary btn-lg" type="submit" value="Close Window" onclick="window.close();
                return true;">
    </div>
</div>
{%endblock%}

{%block tablecontent %}
{%endblock%}
