{%extends "AxonMedicineWhiteKoatBundle:Default:base.html.twig"%}

{%block stylesheets %}

<style type="text/css">
    .text-placeholder {color: #AAA !important}

    table{
        table-layout: fixed;
    }

    td{
        word-wrap: break-word
    }

    .success_message
    {
        color: green;
        font-size:75%;
        font-weight:bold;
    }

    .error_message
    {
        color: red;
        font-size:75%;
        font-weight:bold;
    }

    .loader
    {
        background-image: url({{ asset('bundles/axonmedicinewhitekoat/images/ajax-loader.gif') }});
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
    }
    .main 
    {
        width: 800px;
        padding: 10px 30px 30px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }

</style>

{%endblock%}

{%block container %}

<script language="javascript">

    $(function() {

        $(document).on('click', '#uploadData', function(e)
        {
            e.preventDefault();
            $(".progressbar").html('');
            $(".progressbar").addClass('loader');
            $.post('{{ path('import_route_upload') }}',
                    function(html) {
//                        alert('html returned: ' + html);
                        $(".progressbar").removeClass('loader');
                        $(".progressbar").html(html);
                    }
            );
        });

        $(document).on('click', '#genericdrugbutton', function(e)
        {
            $("#cardtype").html('Select Drug Name');

            e.preventDefault();
            $(".modal-body").html('');
            $(".modal-body").addClass('loader');
            $.post('{{ path('drug_popup_route_get') }}',
                    {generic: '1'},
            function(html) {
//                        alert('html returned: ' + html);
                $(".modal-body").removeClass('loader');
                $(".modal-body").html(html);
            }
            );
            $("#genericModal").modal('show');
        });

        $(document).on('click', '#branddrugbutton', function(e)
        {
            $("#cardtype").html('Select Drug Name');

            e.preventDefault();
            $(".modal-body").html('');
            $(".modal-body").addClass('loader');
            $.post('{{ path('drug_popup_route_get') }}',
                    {generic: '0'},
            function(html) {
                $(".modal-body").removeClass('loader');
                $(".modal-body").html(html);
            }
            );
            $("#genericModal").modal('show');
        });



        $(document).on('click', '#drugclassbutton', function(e)
        {
            $("#cardtype").html('Select Drug Class');

            e.preventDefault();
            $(".modal-body").html('');
            $(".modal-body").addClass('loader');
            $.post('{{ path('drug_class_popup_route_get') }}',
                    {},
                    function(html) {
//                        alert('html returned: ' + html);
                        $(".modal-body").removeClass('loader');
                        $(".modal-body").html(html);
                    }
            );
            $("#genericModal").modal('show');
        });
        $(document).on('click', '#drugtargetbutton', function(e)
        {
            $("#cardtype").html('Select Drug Target');

            e.preventDefault();
            $(".modal-body").html('');
            $(".modal-body").addClass('loader');
            $.post('{{ path('drug_target_popup_route_get') }}',
                    {},
                    function(html) {
                        $(".modal-body").removeClass('loader');
                        $(".modal-body").html(html);
                    }
            );
            $("#genericModal").modal('show');
        });
        $(document).on('click', '#drugtreatmentbutton', function(e)
        {
            $("#cardtype").html('Select Drug Treatment');

            e.preventDefault();
            $(".modal-body").html('');
            $(".modal-body").addClass('loader');
            $.post('{{ path('drug_treatment_popup_route_get') }}',
                    {},
                    function(html) {
//                        alert('html returned: ' + html);
                        $(".modal-body").removeClass('loader');
                        $(".modal-body").html(html);
                    }
            );
            $("#genericModal").modal('show');
        });
        $(document).on('click', '#drugsideeffectbutton', function(e)
        {
            $("#cardtype").html('Select Drug Side Effect');

            e.preventDefault();
            $(".modal-body").html('');
            $(".modal-body").addClass('loader');
            $.post('{{ path('drug_sideeffect_popup_route_get') }}',
                    {},
                    function(html) {
                        $(".modal-body").removeClass('loader');
                        $(".modal-body").html(html);
                    }
            );
            $("#genericModal").modal('show');
        });
        $(document).on('click', '#drugcontraindbutton', function(e)
        {
            $("#cardtype").html('Select Drug Contraindication');

            e.preventDefault();
            $(".modal-body").html('');
            $(".modal-body").addClass('loader');
            $.post('{{ path('drug_contraind_popup_route_get') }}',
                    {},
                    function(html) {
                        $(".modal-body").removeClass('loader');
                        $(".modal-body").html(html);
                    }
            );
            $("#genericModal").modal('show');
        });


    });
    function updateAndCloseModal(fieldName, fieldId, fieldPrefix, id, name)
    {
        $(fieldName).val(fieldPrefix + name);

        $(fieldId).val(id);

        $('#genericModal').modal("hide");
    }

    function updateSelectAndCloseModal(fieldName, fieldId, fieldPrefix, id, name)
    {
        // if field name doesn't already exist, add it.
        var exists = false;

        var fieldOutput = fieldPrefix + name;

        var currentVal = $(fieldId).val();

        if (currentVal !== '')
        {
            currentVal = currentVal + ':';
        }
        currentVal += id;
        $(fieldId).val(currentVal);
        $(fieldName + " option").each(function()
        {
            if (id == $(this).val())
            {
                exists = true;
                return false;
            }
        });

        if (!exists)
        {
            $(fieldName)
                    .append($('<option>' + fieldOutput + '</option>')
                            .attr('value', id));
        }


        $('#genericModal').modal("hide");
    }

    function libraryDropDownChanged() {

        alert('library changed');

        /**        $.post('{path('AcmeHomeBundle_ajax_update_mydata')}',
         {data1: 'mydata1', data2: 'mydata2'},
         function(response) {
         if (response.code == 100 && response.success) {//dummy check
         //do something
         }
         
         }, "json");
         */
    }


</script>

<div class="main">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#drug" data-toggle="tab">Drug</a></li>
        <li><a href="#class" data-toggle="tab">Class</a></li>
    </ul>


    <table width="800px">
        <tr align="right">
            <td style="paddding-right:15px">
                <img src="{{ asset('bundles/axonmedicinewhitekoat/images/linux-penguin.jpg') }}" width="30px" alt="img" />
                </div>

            </td>
        </tr>
    </table>

    {%block libcontent %}
    {%endblock%}

    {% for notice in app.session.flashbag.get('notice') %}
    <div class="success_message">
    {{ notice }}
    </div>
    {% endfor %}
    {% for error in app.session.flashbag.get('error') %}
    <div class="error_message">
        {{ error }}
    </div>
    {% endfor %}

    <!-- Should be overridden -->
    {%block tablecontent %}
    {%endblock%}

   {%block modalcontent %}

    <!-- Modal -->
    <div id="genericModal" class="modal hide fade" tabindex="-1" aria-labelledby="genericPopupLabel" aria-hidden="true">
        <input type="hidden" id="modaltype" value="[modaltype]">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="genericPopupLabel"><div id="cardtype"></div></h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div><!-- /.modal -->
    {%endblock%}

    <div style="text-align:center; font-size: x-small">&copy;2013-14 Axon Medicine, LLC</div>

</div>

{%endblock%}
